
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.container1{
	width: 1460px;
	margin: 0 auto;
}
.container{
	width: 1400px;
	margin: 0 auto;
}

body{
	font-family: 'Signika', sans-serif;

}

/*------------------
		header
--------------------*/

.main-header{
	
	min-height: 995px;
	margin:0;
	padding:0;
	background: url(img/header-bg.jpg) 100% 100% no-repeat;

}
	.main-header h1{
		
		padding-top: 381px;
		font-weight: 200;
		color:#f1f2f1;
		font-size: 108px;
		margin:0;
		text-align:center;
		box-sizing: border-box;

	}

.main-header h2{
	text-align:center;
	padding-bottom:20px;
	
	
	color:#f1f2f1;
	font-weight: bold;
	font-size: 48px;

}

.main-header p{
	text-align:center;
	padding-bottom:300px;
	margin:0;
	color:#f1f2f1;

	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;

}
.header-nav {
	margin:0 auto;
	width: 719px;
	padding-left: 0px;
}
.top-nav{
	color:#f1f2f1;
	background:#00a388;
}
.header-nav li{
	display:inline-block;

}
.header-nav li:hover{cursor:pointer;}
.header-nav a:hover{color: #24e3e1;cursor:pointer;}
.header-nav a{

	display:inline-block;
	text-transform: uppercase;
	text-decoration: none;
	padding:24px;
	color:#f1f2f1;
}

/*------------------
		about
--------------------*/

.about>h2{
	text-transform: uppercase;
	font-size: 48px;
	text-align: center;
	margin:100px 0 55px 0;
}
.about>h3{
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
}
.about-content:last-child{margin-right: 0;}


.about-content{
	margin-right: 105px;
	font-size: 14px;
	line-height: 30px;
	padding-top:60px;
	padding-bottom: 100px;
	width: 645px;
	float:left;
}


/*------------------
		about-personal cards
--------------------*/


.about-personal:last-child{margin-right:0;}
.about-personal{
	float:left;
	margin-right: 105px;
	font-size: 0;
	padding-bottom:350px;
}

.personal-info-logo{
	text-align: center;
	font-size: 18px;
	margin:0;
	padding-top: 25px;

}

.hover-content-img a:last-child{padding-right: 0}
.hover-content-img a{
	
	padding-right:15px;
}

.hover-content-img{
	margin:0 auto;
	width: 136px;
	
}
.about-personal h3{
	text-align: center;
	font-size: 16px;
	padding-top: 20px;
	margin:0;
}




.hover-content{display:none;}
.about-personal:hover .personal-info{
	background: #00a388;
}
.about-personal:hover .personal-info-logo{
	color:#eee;
}
.about-personal:hover h3{
	color:#eee;
}
.about-personal:hover .hover-content{
	display:block;
	font-size: 15px;
	width: 225px;
	padding:20px 20px;
	color:#fff;
	margin-bottom:-202px;
}

/*------------------
		portfolio
--------------------*/

.portfolio>h1{
	text-align: center;
	text-transform: uppercase;
	font-size: 48px;
}
.portfolio-nav{
	width: 773px;
	margin:0 auto;
}

.portfolio-nav li{
	display: inline-block;
	list-style-type: none;
}

.portfolio-nav a{
	padding:15px;
	color:black;
	display:inline-block;
	text-transform: uppercase;
	text-decoration: none;
}
.porftolio-img>a{
	font-size: 50px;

}
.porftolio-img {

	float: left;}

/*------------------
		services
--------------------*/

.services>h1{
	padding-top: 100px;
	
	text-align: center;
	text-transform: uppercase;
	font-size: 48px;
}
.services>h2{
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	margin:70px 0 50px 0;
}

.services-item{
	min-height: 450px;
	float:left;
	width: 645px;}

.services-item:nth-child(odd){margin-right:105px;}	

/*------------------
		blog
--------------------*/
.blog-bg{

	background: #ecfffc;}
.blog>h1{
	padding-top:100px;
	text-align: center;
	text-transform: uppercase;
	font-size: 48px;
}
.blog>h2{
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	margin:70px 0 50px 0;
}
.blog-article{
	font-size: 0;
	padding-right:35px;
	width: 315px;
	float:left;
}

.blog-article-info{
	min-height: 355px;
	background: white;

}

.blog-article-info>span{
	padding:30px 0 30px 30px;
	display:block;
	font-size: 16px;
	color:#00a388;
}
.blog-article-info>h1{
	font-size: 28px;
	padding:0 30px 25px 30px;
}

.blog-article-info>p{
	font-size: 16px;
	padding: 0 30px;
}


/*------------------
		map
--------------------*/
.map{padding-top:100px;background:#ecfffc;}
/*------------------
		contact-us
--------------------*/
.contact-us{margin-bottom: 100px;}
.contact-us>h1{
	padding-top: 100px;
	
	text-align: center;
	text-transform: uppercase;
	font-size: 48px;
}

.contact-us>form{
	display:block;
	
	margin:0 auto;
	width:1184px;
}

.contact-us textarea{
	color:white;
	border-radius: 7px;
	border:1px solid black;
	outline:none;
	background:black;
	float:right;}

input[type="name"]{
	
	
	margin-bottom:20px;
	background:black;
	color:white;
	outline:none;
	border:1px solid black;
	width:546px;
	font-size: 18px;
	padding:14px 0 15px 10px;
	border-radius: 7px;
}
input[type="email"]{

	float:left;
	background:black;
	color:white;
	outline:none;
	border:1px solid black;
	width:546px;
	font-size: 18px;
	padding:14px 0 15px 10px;
	border-radius: 7px;
}

.contact-btn{
	padding: 8px;
    text-transform: uppercase;
	border-radius: 7px;
	outline:none;
	border:none;
	display: block;
    margin: 0 auto;
    width: 102px;
    color:white;
    background: black;
   
}
/*------------------
		footer
--------------------*/
.navigation-block{
	background: #02c5a5;
}


.footer-nav{
	padding-left:0;
	margin:0 auto;
	width: 508px;
	color:#fff;}
.footer-nav li{
	display:inline-block;
	list-style-type: none;
}
.footer-nav a:hover{color:#eee;}
.footer-nav a{
	display:inline-block;
	padding:25px 10px;
	text-transform: uppercase;
	text-decoration: none;
	color:#fff;
	font-size: 14px;

}

.contacts{
	color:white;
	background:#00a388 ;}

.contacts-item{
	width: 147px;
	float:left;
	margin-right:40px;
	margin-top:100px;
}

.social-links{
	padding:100px 0 0 370px;
	display:inline-block;
	margin-bottom:120px;
}
.social-links a{padding-right:10px;}


/*------------------
		copyright
--------------------*/
.copyright{color:white;background: black;padding:0;margin:0;}
.copyright p{padding:20px 0; margin:0;text-align: center;font-size: 8px;text-transform: uppercase;}